body {
 background-color: darkorchid;
 font-family: cursive;
}
 
 footer {
    background-color: violet
    color:pink;
    position: fixed;
    botton: 0;
    width: 100%;
    height: 2rem;
 }
   footer p {
    text-aling: center;
    font-size: 0.6rem;
    margin: 0.5rem;

   }
   
   #container{
      display: flex;
   }
   .cartao {
      margin: 1rem 1rem;
   }

   <div class="cartao__conteudo__resposta">
       <p>O que é JavaScript?</p>
   </div>





